/* 全局样式 */
html,body,#app {
    height: 100%;
    margin: 0;
    padding: 0;
    /* max-height:800px; */
    min-width: 1200px;
}
.el-scrollbar__wrap {
    /* height: 300px !important; */
    /* overflow-y: hidden !important; */
    /* overflow: scroll */
}
.el-cascader-menu__wrap{ 
    height: 300px !important;
}
/* */
.zk-table {
    overflow-y: scroll !important;
    max-height: 450px;
}
.ql-editor {
    min-height: 200px;
}